.box {
  border: 1px solid #dbdbdb;
  width: 80%;
  display: flex;
  margin: 100px;
  height: 50vh;
}

.sidebar {
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  border-right: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  overflow: hidden;
  width: 350px;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
}


.scroll {
  padding-top: 8px;
  overflow-y: scroll;
  height: 100%;
}

.user_list{
  display: flex;
  padding:10px;
}

.msg_body {
  width: 100%;
  background-color: #ffffff;
  padding-top: 50px;
}
.msg {
  margin: auto;
  width: 70%;
  text-align: center;
  align-items: center;
}
.msg>div{
margin-top: 10px;
}
.msg_icon {
  border-radius: 50%;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-color: black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: blue;
  border: 1px solid transparent;
  border: 0;

  box-sizing: border-box;
  cursor: pointer;

  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-overflow: ellipsis;
  border-radius: 4px;
  color: #fff;
}
