.App{
  min-height: 100vh;
  background-color: #FAFAFA;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

button{
  cursor: pointer;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.header{
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main_container{
  max-width: 975px;
  width: 100%;
  padding:0 20px;
}

.home_section,.profile_section{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}


.more_options .ant-modal-close{
  display: none;
}

.more_options .ant-modal-content{
  border-radius: 20px;
  width: 400px;
  text-align: center;
}

.more_options .ant-modal-body {
  height: 350px;
  padding: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.more_options .ant-modal-body > button{
  flex: 1;
  border: none;
  outline:1px solid lightgray;
  
}

.more_options .ant-btn{
  
  height: 22px;
  cursor: pointer;
}

button.ant-btn > img{
  height: 22px;
}