.App{
  min-height: 100vh;
  background-color: #FAFAFA;
}

ul{
  list-style: none;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.header{
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main_container{
  max-width: 975px;
  width: 100%;
  padding:0 20px;
}